@import "~bootstrap/dist/css/bootstrap.min.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgb(24, 54, 187), rgb(10, 104, 10));
}

.card {
  background-color: whitesmoke;
  height: 420px;
  width: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.suit-top,
.numbers,
.suit-bottom {
  font-size: 90px;
  display: flex;
}

.numbers {
  justify-content: center;
  font-weight: bolder;
}

.suit-bottom {
  justify-content: flex-end;
}

button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  color: azure;
  background-color: #177bda;
  border: none;
  border-radius: 25px;
  outline: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: larger;
}
